body {
    font-family: monospace;
}

#main {
    width: 960px;
    margin: 50px auto;
}

span {
    color: red
}

h2 {
    background-color: #FEFFED;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px;
    padding: 15px
}

hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px -40px;
    margin-bottom: 30px
}

#login {
    width: 300px;
    float: left;
    border-radius: 10px;
    font-family: raleway;
    border: 2px solid #ccc;
    padding: 10px 40px 25px;
    margin-top: 70px
}

input[type=text], input[type=password] {
    width: 99.5%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family: raleway
}

input[type=submit] {
    width: 100%;
    background-color: #FFBC00;
    color: #fff;
    border: 2px solid #FFCB00;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px
}

#profile {
    padding: 50px;
    border: 1px dashed grey;
    font-size: 20px;
    background-color: #DCE6F7
}

#logout {
    float: right;
    padding: 5px;
    border: dashed 1px gray
}

a {
    text-decoration: none;
    color: #6495ed
}

i {
    color: #6495ed
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.history_table, .inventory_table, .sales_table {
    /*border: 5px dashed black;*/
}

.history_table {
    /*background-color: #FFCB00;*/
}

.inventory_table {
    /*background-color: aquamarine;*/
}

.history_table {
    /*background-color: greenyellow;*/
}

li {
    display: inline-block;
}

li:hover {
    background-color: aquamarine;
}

li.active {
    font-weight: bold;
}

table {
    border: 1px solid black;
}

thead tr {
    background-color: rgba(134, 133, 128, 0.73);
}

th, td {
    padding: 0px 10px 0px 10px;
    /*text-align: center;*/
    border: 1px solid black;
    white-space: nowrap;
}

tr:hover {
    background-color: rgba(134, 133, 128, 0.30);
}