body {
    font-family: monospace;
    font-size: 1.8rem;
    background: url("../images/carbon_tire_pics.png");
}

/* Login Page */
#main {
    text-align: center;
}

span.error_message {
    color: red
}

h1 {
    font-size: 5rem;
    text-shadow: 0.3rem 0.3rem rgba(200, 200, 200, .5);
}

h2 {
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px;
    padding: 15px
}

#login {
    width: 300px;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 1rem 2rem;
    margin: auto;
    background-color: rgba(77, 77, 77, 0.7);
}

input {
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    margin: 1rem 0;
}

input[type=text], input[type=password] {
    width: 99.5%;
    background-color: rgba(255, 255, 255, 0.6);
}

input[type=text]:focus, input[type=password]:focus,
input[type=text]:hover, input[type=password]:hover {
    background-color: rgba(255, 255, 255, 1);
}
input[type=submit] {
    width: 100%;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
    background: rgba(77, 77, 77, 0.5);
}

input[type=submit]:hover {
    background: rgba(0, 0, 0, 0.5);
}

input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

/* Old Firefox below 18 */
input:-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

/* New Firefox */
input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}